HotelProject/Client/Connected Services/HotelServices/HotelProject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelModel" nillable="true" type="tns:HotelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelModel" nillable="true" type="tns:ArrayOfHotelModel" />
  <xs:complexType name="HotelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelModel" nillable="true" type="tns:HotelModel" />
</xs:schema>